@font-face {
    font-family: 'plain Light';
    src: url('fonts/Plain-Light.ttf');
}
@font-face {
    font-family: 'silk serif';
    src: url('fonts/SilkSerif-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'plain Light';
    color: #fff;
    ;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    position: relative;
    background: #030303;
}

#crsr{
    height: 2.4vw;
    width: 2.4vw;
    border-radius: 50%;
    border: 1px solid #ffffffc6;
    position: fixed;
    z-index: 9999;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
}
#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    background: #0B0B0B;
    z-index: 99;
    padding: 25vh 10vw;
}

.line {
    /* background: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}
.line #line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
}
#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-family: 'silk serif';
    font-weight: 100;
}
#line1-part1 h5{
    width: 5vw;
    text-align: right;
}
.line h1 {
    font-size: 6vw;
    font-weight: 500;
    text-transform: uppercase;
}
.line h2{
    font-size: 4.5vw;
    text-transform: uppercase;
    font-weight: 500;
    animation-name: now;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    opacity: 0;
}
@keyframes now {
    0%{
        font-family: 'plain Light';
        -webkit-text-stroke: 1px #fff;
        opacity: 1;
    }
    47%{
        font-family: 'plain Light';
        -webkit-text-stroke: 1px #fff;
        opacity: 0;
    }
    50%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 0;
    }
}



#page1 {
    width: 100%;
    height: 100vh;
    background: #111;
}
#page1 nav{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 7vh 5.5vw;
    position: relative;
}
#nav-part1{
    position: absolute;
    left: 30%;
}
#nav-part1 h3{
    font-size: 1vw;
    font-weight: 500;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
#nav-part2 h3{
    font-size: 1vw;
    font-weight: 500;
}
.hero{
    /* background: salmon; */
    width: 70%;
    margin-left: 30%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9999;
}
.hero:nth-child(2){
    margin-top: 9vh;
}
.hero h1{
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 7vw;
}

#hero3 h1 span{
    text-decoration: underline;
}
#hero3 h1 span:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 100;
    text-decoration: none;
}