@font-face {
    font-family: 'plain Light';
    src: url('fonts/Plain-Light.ttf');
}
@font-face {
    font-family: 'silk serif';
    src: url('fonts/SilkSerif-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'plain Light';
    color: #fff;
    
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    position: relative;
    background: #030303;
}

#crsr{
    height: 2.4vw;
    width: 2.4vw;
    border-radius: 50%;
    border: 1px solid #ffffffc6;
    position: fixed;
    z-index: 9999;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
}
#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    background: #0B0B0B;
    z-index: 99;
    padding: 25vh 10vw;
    display: none;
}

.line {
    /* background: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}
.line #line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
}
#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-family: 'silk serif';
    font-weight: 100;
}
#line1-part1 h5{
    width: 5vw;
    text-align: right;
}
.line h1 {
    font-size: 6vw;
    font-weight: 500;
    text-transform: uppercase;
}
.line h2{
    font-size: 4.5vw;
    text-transform: uppercase;
    font-weight: 500;
    animation-name: now;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    opacity: 0;
}
@keyframes now {
    0%{
        font-family: 'plain Light';
        -webkit-text-stroke: 1px #fff;
        opacity: 1;
    }
    47%{
        font-family: 'plain Light';
        -webkit-text-stroke: 1px #fff;
        opacity: 0;
    }
    50%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 0;
    }
}



#page1 {
    width: 100%;
    height: 100vh;
    background: #111;
}
#page1 nav{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 7vh 5.5vw;
    position: relative;
}
#nav-part1{
    position: absolute;
    left: 30%;
}
#nav-part1 h3{
    font-size: 1vw;
    font-weight: 500;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
#nav-part2 h3{
    font-size: 1vw;
    font-weight: 500;
}
.hero{
    /* background: salmon; */
    width: 70%;
    margin-left: 30%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9999;
}
.hero:nth-child(2){
    margin-top: 9vh;
}
.hero h1{
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 7vw;
}

#hero3 h1 span{
    text-decoration: underline;
    transition: all 0.5s ease;
}
#hero3 h1 span:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    text-decoration: none;
}
#page2{
    width: 100%;
    height: 100vh;
    background: #111;
    padding: 17vh 0;
    position: relative;
}
#video-container{
    width: 69vw;
    height: 70vh;
    position: relative;
    left:30%;
    background: url('https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#video-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#video-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
}
#video-crsr{
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    background: #FFA63D;
    position: absolute;
    top: -10%;
    left:68%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
#video-crsr i{
    font-size: 3vw;
}

#page3{
    min-height: 100vh;
    width: 100%;
    background: #000;
}
#page4{
    min-height: 100vh;
    width: 100%;
    background: #111;
    position: relative;
    overflow-x: hidden;
}
#page4-content{
    width: 72vw;
    min-height: 100%;
    position: relative;
    margin-left: 28%;
    padding: 4vw 0;
}
#page4-content h1{
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 600;
    padding: 1vw 0;
}
.underline{
    width: 65vw;
    border-top:1px solid #fff;
}
#page4-content>p{
    font-size: 2.5vw;
    width: 55%;
    margin-top: 4vw;
    
}
#page4-flex{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 4vw;
    gap: 3vw;
}
#page4-flex img{
    width: 45%;
    height: 100%;
    object-fit: cover;
}
#page4-flex>p{
    width: 26%;
    height: 100%;
    font-size: 1vw;
    line-height: 1.7;
}

#page4-outer{
    width: 42vw;
    position: absolute;
    bottom: -20%;
    right: 5%;
    margin-left: 28%;
    padding: 4vw 0;
    background: #3F7DF4;
    padding: 4vw;
}
#page4-outer section{
    display: flex;
    align-items: center;
    gap: 3vw;
    padding: 1.4vw 0vw;
    border-bottom: 1px solid #fff;
}
#page4-outer section h2{
    width: 40%;
    font-size: 1.5vw;
    font-weight: 500;
}
#page4-outer section h5{
    font-size: 1vw;
    font-weight: 500;
}

